<li>
	{{hamburger_name}}

	<button class="devoured-state" data-id="{{hamburger_id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Eat this Burger{{else}}On second thought...{{/if}}
	</button>

</li>