<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/styles/reset.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/styles/burger-styles.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>The Big Kahuna Burger App</title>
</head>

<body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/assets/scripts/burgerScript.js"></script>
</body>

</html>