<div class="container">
    <header class="text-center jumbotron">
        <h1 class="text-lg">Big Kahuna Burger</h1>

        <p>"Mmm-mmmm! This is a tasty burger!"</p>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <h2 class="text-center">Burgers to be Eaten</h2>
                <ul class="">
                    {{#each hamburgers}}
                    {{#unless hamburger_devoured}}
                    <div class="row text-center">
                        <p>{{this.hamburger_id}}. {{this.hamburger_name}}</p>
                    </div>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <h2 class="text-center">Burgers Eaten</h2>
                <ul>
                    {{#each hamburgers}}
                    {{#if hamburger_devoured}}
                    <div class="row text-center">
                        <p>{{this.hamburger_id}}. {{this.hamburger_name}}</p>
                    </div>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>