<h1>Big Kahuna Burger</h1>

<h2>"This is a tasty burger!"</h2>

<ul>
    {{#each hamburgers}}
        {{#unless hamburger_devoured}}
        <div class="row text-center">
					<p>{{this.hamburger_id}}. {{this.hamburger_name}}</p>
				</div>
        {{/unless}}
    {{/each}}
</ul>