<div class="container">
    <header class="text-center jumbotron">
        <h1 class="text-lg">Big Kahuna Burger</h1>

        <p>"Mmm-mmmm! This is a tasty burger!"</p>
    </header>

    <form action="create-form">
        <div class="form-group text-center col-form-label-lg">
            <input type="text" placeholder="New Burger Name" id="hamburger_name" name="hamburger_name">

            <button type="submit" id="createBurger">Create Burger</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="container p-4">
                <h2 class="text-center">Burgers Queued</h2>
                <ul class="list-unstyled text-center m-2">
                    {{#each hamburgers}}
                    {{#unless hamburger_devoured}}
                    <div class="row">
                        {{>bigkahuna-block hamburger_devoured=true}}
                    </div>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="container p-4">
                <h2 class="text-center">Burgers Eaten</h2>
                <ul class="list-unstyled text-center m-2">
                    {{#each hamburgers}}
                    {{#if hamburger_devoured}}
                    <div class="row">
                        {{>bigkahuna-block hamburger_devoured=false}}
                    </div>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>